<div>
  <mat-form-field class="example-margin">
    <mat-label>Question</mat-label>
    <input matInput [formControl]="questionControl" placeholder="Enter your question" />
  </mat-form-field>

  <div *ngFor="let item of items; let i = index">
    <mat-form-field class="example-full-width">
      <mat-label>Checkbox {{ i + 1 }}</mat-label>
      <input matInput [(ngModel)]="item.text" placeholder="Enter checkbox text" />
    </mat-form-field>
    <mat-checkbox class="example-margin" [(ngModel)]="item.checked"></mat-checkbox>
    <button mat-icon-button color="warn" (click)="deleteCheckBox(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <button mat-raised-button color="primary" (click)="addCheckBox()">Add Checkbox</button>
</div>
