<div class="card">
  <div class="card-body">
    <h3 class="card-title text-center">{{ data.title }}</h3>
    <br /><br />
    <form [formGroup]="dynamicForm" (ngSubmit)="saveForm()" novalidate>
      <div
        class="field"
        *ngFor="let que of data.survey"
        [ngSwitch]="que.answertype"
      >
        <h5 class="card-text">{{ que.question }}</h5>
        <div *ngSwitchCase="'text'" name="answertype">
          <textarea
            pInputTextArea
            name="options"
            cols="40%"
            placeholder="write your answer here"
          ></textarea>
          <br />
        </div>

        <form *ngSwitchCase="'single'">
          <div *ngFor="let item of que.options">
            <input type="radio" name="radio" /> &nbsp; {{ item }}
          </div>
          <br />
        </form>

        <form *ngSwitchCase="'multiple'">
          <div *ngFor="let item of que.options">
            <input type="checkbox" /> &nbsp; {{ item }}
          </div>
          <br />
        </form>

        <button type="button" class="btn btn-primary">Save</button>
        <hr />
      </div>
      <br />
      <input type="checkbox" name="decleration" id="decleration" checked /> Send
      Response Copy to Me <br />
      <button type="button" class="btn btn-primary">Final Submit</button>
    </form>
  </div>
</div>
